* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Banner del sito */
#banner{
    background-color: rgb(74, 137, 209);
    background-image: url(img/pattern.png);
    height: 80px;
    background-size: contain;
}

/* stile dell'header */
#inizio {
    padding-top: 20px;
}

#logo {
    width: 15%;
    padding-top: 30px;
}

.credits {
    color: grey;
    font-size: 20px;
}

#link {
    text-decoration: none;
    color: rgb(25, 134, 206);
}

#data {
    font-size: 14px;
    color: grey;
    padding-bottom: 20px;
}

#photocredits {
    font-size: 14px;
    color: rgb(94, 93, 93);
}
