/* informazioni stile generale pagina */
body {
    margin: 0% 10%;
    padding: 0;
    box-sizing: border-box;
}

/* stile banner del sito */
#banner{
    background-color: rgb(74, 137, 209);
    background-image: url(img/pattern.png);
    height: 80px;
    background-size: contain;
}

#logo {
    width: 15%;
    padding-top: 30px;
}

/* stile dell'header */
.credits {
    color: grey;
    font-size: 20px;
}

#link {
    text-decoration: none;
    color: rgb(25, 134, 206);
}

#data {
    font-size: 14px;
    color: grey;
    padding-bottom: 20px;
}

#photocredits {
    font-size: 14px;
    color: rgb(94, 93, 93);
}

/* stile tabella */
table {
    padding-bottom: 30px;
}

thead {
    background-color: rgb(26, 99, 182);
    color: white;
}

.dispari {
    background-color: rgb(52, 180, 202);
}

h4 {
    color: darkgray;
}

#articolo1 {
    background-image: url(monitor.jpg);
    height: 80px;
    color: white;
    font-size: 18px;
    font-weight: bold;
}