/* informazioni stile generale pagina */
body {
    margin: 0% 10%;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* stile banner del sito */
#banner{
    background-color: rgb(74, 137, 209);
    background-image: url(img/pattern.png);
    height: 80px;
    background-size: contain;
}

#logo {
    width: 15%;
    padding-top: 30px;
}

/* stile dell'header */
.credits {
    color: grey;
    font-size: 20px;
}

#link {
    text-decoration: none;
    color: rgb(25, 134, 206);
}

#data {
    font-size: 14px;
    color: grey;
}

.immaginiarticolo {
    margin-top: 15px;
    margin-bottom: 15px;
}

#photocredits {
    font-size: 14px;
    color: rgb(94, 93, 93);
    margin-bottom: 15px;
}

/* stile tabella */
table {
    padding-bottom: 30px;
}

thead {
    background-color: rgb(26, 99, 182);
    color: white;
}

.dispari {
    background-color: rgb(52, 180, 202);
}

/* stile footer */
h4 {
    color: darkgray;
}

/* altri articoli */
#articolo1 {
    background-image: url(img/graph.jpg);
    height: 160px;
    width: 220px;
    background-size: cover; 
    margin-bottom: 1%;
}

#articolo2 {
    background-image: url(img/monitor.jpg);
    height: 160px;
    width: 220px;
    background-size: cover; 
}

.other {
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

